<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Click the link below to reset your password</p>
  <p><a href="{{link}}">Reset password</a></p>
  <p>If you didn't request a reset, don't worry. You can safely ignore this email.</p>
  <p>
    <strong>Equipe GoBarber</strong>
  </p>
</div>